h1{
    margin-top:2%;
    margin-bottom: 0%;
}

h2{
    margin: 0%;
}

a{
    margin-left: 87%;
}

ul{
margin: 6% 0 0 0;
}

#lista1{
    display:flex;
    margin-top:10%;
}
#lista2{
    margin-top:10%;
    
}

#lista1 li{
    margin-right: 4%;
}

#lista2 li{
    display: inline-block;
    margin-right: 4%;
}