body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .calculator {
    width: 500px;
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 10px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid #ccc;
  }
  
  th {
    background-color: #e0e0e0;
  }
  
  .nota {
    width: 50px;
  }
  
  button {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    background-color: #e0e0e0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #ccc;
  }
  