@import url('../global.css');

*{
    margin: 0;
    padding: 0;
}

title-header{
    margin-top: 25px;
    margin-left: 25px;
}

.leiter-link{
    display: flex;
    margin-left: -15px;
    margin-top: 5px;
}

.leiter-header{
    margin-left: 35px;
    font-size: 20px;
}

.link-header{
    margin-left: 1680px;
}

.header, .footer {
    width: 100vw;
    height: 15vh;
}

.content {
    width: 100vw;
    height: 55vh;
    display: flex;
}

.nav {
    width: 20%;
    height: 100%;
    background-color: #CD9292;
}

.main {
    width: 80%;
    height: 100%;
    background-color: #753535;
}

.header {
    background-color: rgb(253,77,77);
}

.footer {
    background-color: #9F3E3E;
}