.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 100px;
    width: 100%;
    border: 1px solid black;
}

.primeiro{
    height: 100px;
    width: 100px;
    background-color: greenyellow;
}

.segundo{
    height: 100px;
    width: 100px;
    background-color: gold;
}

.terceiro{
    height: 100px;
    width: 100px;
    background-color: brown;
}

.quarto{
    height: 100px;
    width: 100px;
    background-color: cornflowerblue;
}