*{
    margin: 0;
    padding: 0;
}

.title-header{
    margin-top: 25px;
    margin-left: 25px;
}

.leiter-link{
    display: flex;
    margin-top: 5px;
}

.leiter-header{
    margin-left: 25px;
    font-size: 25px;
}

.link-header{
    margin-left: 1680px;
}

.table-1{
    margin-left: 45px;
    margin-top: 50px;
}

.table-2{
    display: flex;
    margin-left: 11px;
    margin-top: 25px;
}

.li{
    margin-left: 20px;
}

.table-3{
    display: flex;
}